<html>
<head>glados is here</head>

<body>
<b> Here you will validate </b>

<%= form_tag("/dooraccess", method: "get") do %><p>

<b>Fob Key</b><%= collection_select :fob, :fob_id, @fobs, :id, :key %> <br>

<b>Door Name</b><%= collection_select :door, :door_id, @doors, :id, :doorname %><br>

<%= submit_tag("Open Door") %>
<% end %>


</body>


</html>